.main-text {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  text-align: center;
}

.main-text__title {
  font-weight: 500px;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  margin: 0 0 50px;
  padding: 0;
}

.main-text__subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 0;
  padding: 0;
}
