.page {
  min-width: 1100px;
  /* сделала как в проектной работе */
  max-width: 1600px;
  /* сделала как в проектной работе, т.к. по макету получается горизонтальная прокрутка*/
  /* все размеры отредактировала пропорционально уменьшению окна */
  font-family: "Roboto", "Arial", sans-serif;
}
