.skills {
  display: flex;
  justify-content: center;
  padding: 102px 0 101px 0;
  box-sizing: border-box;
}

.skills__box {
  width: 1110px;
  min-height: 450px;
  margin: 0;
  background-image: url("../images/Rectangle\ 3.png");
  background-size: 555px 450px;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__heading {
  max-width: 400px;
  font-weight: 500px;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  margin: 102px 0 50px 0;
}

.skills__text {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 0;
  padding: 0;
}
